
@charset "utf-8";
/* CSS Document */

.MainNav {
	flex: .5;
}

.MainNav2 {
	flex: .5;
}

.secondary-hero {
	position: relative;
	width: 100vw;
	min-height: 300px;
	height: 30vh;
	display: flex;
}

.secondary-hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url("../images/green-leafed-trees-during-fog-time-167684.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(80%);
	border-bottom: 1rem solid rgba(38, 38, 38, 1);
}

.secondary-hero-content {
	display: flex;
	flex: 1;
	flex-direction: row;
	position: relative;
	color: #fffff0;
	text-align: Left;
	vertical-align: bottom;
	margin-left: 10vh;
	justify-content: flex-start;
	align-self: flex-end;
}

.secondary-hero-title {
	flex: 1;
	order: 1;
	display: flex;
	font-size: 3rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	text-shadow: -2px 3px 3px rgba(38,38,38,0.60);
	letter-spacing: .2vw;
}

.socialMedia {
	justify-content: flex-end;
}

.socialMedia svg {
	flex: 1;
	height: 2rem;
	width: 2rem;
	fill: #fffff0;
	margin-right: 2vw;
}

.info3 {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 44vh;
    order: 2;
    flex-direction: column;
    align-content: center;
}

.info3 h1{
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.info3 h2 {
    margin-left: 3rem;
}

#navbar{position: absolute;}

@media (max-width:425px){
	.secondary-hero-content {margin-left: 5vh;}
	.secondary-hero-title{font-size: 9vw;}
	.info3 {margin-bottom: 20vh;}
}

@media (max-width: 320px) {
	.info3 h1, .info3 h2{margin-left: 0rem;}
}

/* @media (max-width: 375px) {
	.secondary-hero{height: 45vh;}
	.secondary-hero-content{margin-left: 3rem;}
	.secondary-hero-title{font-size: 2rem; margin-bottom: 0rem;}
    .info3{margin-bottom: 26vh;}
    .info3 h1{margin-bottom: 2vh;}
    #navbar{position: absolute;}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
	.secondary-hero{height: 75vh;}
   }

@media (max-width: 360px) {
    .info3{margin-bottom: 24vh;}
} */
