@charset "utf-8";
/* CSS Document */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	height: -webkit-fill-available;
  }

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #fffff0;
	min-height: -webkit-fill-available;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.OSC {
   font-family: 'Open Sans Condensed', sans-serif;
}

#navbar {
  background-color: rgba(0,0,0,0);
  overflow: hidden;
  height: 20vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
  background-opacity:0;
  display: flex;
  margin: .5rem;
  align-items: flex-start;
}

.navLogo {
  display: flex;
  flex:3;
  order: 1;
  justify-content: flex-start;
  align-content: flex-start;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.MainNav {
	display: flex;
	flex-direction: row;
	flex: 1;
	order:2;
	justify-content: flex-end;
	/* height: 4vh; */
	margin-right: .5vw;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.MainNav a {
	flex: 1;
	align-self: flex-end;
	letter-spacing: .05rem;
	font-size: 1.9rem;
	text-decoration: none;
	color: #fffff0;
}

.MainNav a:hover, .MainNav2 a:hover {
	color: tomato;
}

.MainNav2 {
	display: flex;
	flex-direction: row;
	flex: 1;
	order:2;
	justify-content: flex-end;
	/* height: 4vh; */
	margin-right: .5vw;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.MainNav2 a {
	flex: 1;
	align-self: flex-end;
	letter-spacing: .05rem;
	font-size: 1.9rem;
	text-decoration: none;
	color: #262626;
}

.iniLogo {
  height: 3rem;
  margin-left: 1vw;
  fill: #fffff0;
  align-self: flex-start;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.iniLogo:hover, .iniLogo2:hover {
	fill: tomato;
}

.iniLogo2 {
  fill: rgb(38,38,38);
  margin-left: 1vw;
  height: 3rem;
  align-self: center;

  -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.nav-menu {
  display: none;
  flex: 1;
  order: 2;
  justify-content:flex-end;
  align-items:center;
}

.lines {
  display: flex;
  margin-right: 4vw;
  width: 2rem;
  height: 2rem;
  align-self: center;
  fill: rgb(255,255,255);
  stroke: none;

  -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.lines2 {
  display: flex;
  margin-right: 1vw;
  width: 2rem;
  height: 2rem;
  align-self: center;
  fill: rgb(38,38,38);
  stroke: none;

  -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .content {
    padding-top: 60px;
  }

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0;
    background-color: rgb(38,38,38);
    opacity: 0.98;
    overflow-x: hidden;
    padding-top: 60px;
    transition:0.5s;
}

.side-nav a{
    padding: 1vh;
    text-decoration: none;
    font-size: 2rem;
    color: #fffff0;
    display: block;
		transition: 0.3s;
		margin-left: 10%;
}

.side-nav a:last-of-type{
	margin-bottom: 4vh;
}

.inactiveLink {
	pointer-events: none;
	cursor: default;
 }

.side-nav .btn-close{
    position: absolute;
    top:0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav hr{
   display: block;
   margin-top: 1.2vh;
   margin-bottom: 2.3vh;
   margin-left: 1vh;
   margin-right: 2vh;
   border-style: inset;
   border-width: 1px;
}

.hero {
	position: relative;
	width: 100vw;
	min-height: 400px;
	height: 65vh;
	-webkit-box-flex: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url("../images/BackgroundPrime.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: auto, cover;
	background-position: center center;
	filter: brightness(80%);
	border-bottom: 1rem solid rgba(38, 38, 38, 1);
}

.hero-content {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #fffff0;
	text-align: center;
	margin: 0.625rem;
	justify-content: space-between;
}

.hero-title {
	flex: 1;
	order: 1;
	font-size: 6vh;
	font-weight: 600;
	margin-top: 20vh;
	margin-bottom: 20vh;
	text-transform: uppercase;
	text-shadow: -2px 3px 3px rgba(38,38,38,0.60);
	letter-spacing: .3vw;
	line-height: 7vh;
}

.socialMedia {
	display: flex;
	flex:1;
	order: 2;
	flex-direction: row;
	margin-top: 2vh;
	justify-content: space-around;
	align-content: center;
}

.socialMedia svg {
	flex: 1;
	height: 2rem;
	width: 2rem;
	fill: #fffff0;
}

.socialMedia svg:hover {
	fill: tomato;
}

.side-socialMedia {
	display: flex;
	flex:1;
	order: 2;
	flex-direction: column;
	margin-top: 2vh;
	margin-left: 30%;
	justify-content: space-around;
	align-content: center;
}

.side-socialMedia svg {
	flex: 1;
	height: 2rem;
	width: 2rem;
	margin-bottom: 2rem;
	fill: #fffff0;
}

.main-section {
	display: flex;
	justify-content: center;
	height: auto;
}

.sidebar1 {
	display: flex;
	order: 1;
	flex: 1;
	width: 100%;
}

.sidebar2 {
	display: flex;
	order: 3;
	flex: 1;
	width: 100%;
}

.main {
	margin-top: 2rem;
	display: flex;
	order: 2;
	flex: 4;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.info1 {
	display: flex;
	order: 1;
	flex: 3;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin-top: 2rem;
	max-height: 100%;
}

.info1 img {
	order: 2;
	display: -moz-flex;
	display: -webkit-flex;
  	display: -ms-flex;
	display: flex;
	flex:0 0 auto;
	border: solid thick rgb(38,38,38);
	align-self: center;
	height: 100%;
	max-height: 50vh;
	width: auto;
}

.text {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	order: 1;
	flex: 2;
	justify-content: center;
	align-items: flex-end;
	margin-right: 2vw;
}

.text h1{
	display: flex;
	text-align: right;
	font-size: calc(3rem + 1vh);
	color: rgb(38,38,38);
	margin-bottom: 1vw;
	line-height: 1.5;
}

.text h2{
	display: flex;
	text-align: right;
	font-size: calc(1rem + 1vh);
	color: rgb(38,38,38);
	margin-bottom: 1vw;
	line-height: 1.5;
}

.info2 {
	display: flex;
	flex-direction: row-reverse;
	order: 2;
	flex: 3;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin-top: 2rem;
	max-height: 100%;
}

.info2 img{
	order: 2;
	display: -moz-flex;
	display: -webkit-flex;
  	display: -ms-flex;
	display: flex;
	flex: 0 0 auto;
	align-self: center;
	border: solid thick rgb(38,38,38);
	max-height: 35vh;
	height: 100%;
	width: auto;
}

.spacer {
	display: flex;
	flex: .7;
	order: 3;
	height: 100%;
}

.text2 {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	order: 1;
	flex: 2;
	justify-content: center;
	align-items: flex-start;
	margin-left: 2vw;
}

.text2 h1{
	display: flex;
	text-align: left;
	font-size: calc(2rem + 1vh);
	color: rgb(38,38,38);
	margin-bottom: 1vw;
	line-height: 1.5;
	/* white-space: nowrap; */
}

.text2 h2{
	display: flex;
	text-align: left;
	font-size: calc(1rem + 1vh);
	color: rgb(38,38,38);
	margin-bottom: 1vw;
	line-height: 1.5;
}

.footer {
	display: flex;
	flex-direction: column;
	flex: .3;
	justify-content: flex-end;
	order: 4;
	height: 100%;
	width: auto;
}

.botLogo {
	align-self: flex-end;
  	height: 1.5rem;
  	fill: rgb(38,38,38);
}

.trade {
	align-self: flex-end;
	font-size: 1rem;
}

@media (max-width: 1366px) {
	.MainNav a, .MainNav2 a{font-size: calc(1.5rem - .2vw);}
	.info1 {max-height: 50vh;}
	.info2 {max-height: 40vh;}
	.info2 img {height: 90%;}
	.spacer{flex: .5;}
	.text h1, .text2 h1{font-size: calc(2.1rem);}
	.text h2, .text2 h2{font-size: calc(1.2rem); line-height: calc(1rem + .75vh);}
}

@media (max-width: 1024px) {
	.navLogo{flex: 1;}
	.MainNav, .MainNav2 {flex-direction: column;}
	.MainNav a, .MainNav2 a{margin-bottom: 2rem; margin-right: 1.2rem; font-size: 1.2rem;}
	.text h1, .text2 h1{font-size: 2rem;}
	.spacer {flex: .1;}
}

@media (max-width: 812px) {
	#navbar{position: absolute;}
	.sidebar1, .sidebar2 {flex: .2;}
	.text{margin-left: 0;}
	.footer{flex: .7;}
	.botLogo{height: 1rem;}
	.spacer {display: none;}
}

@media (max-width: 425px) {
	.hero::before{	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url("../images/BackgroundMobile.jpg");	}
	.iniLogo, .iniLogo2 {height: 2.2rem;}
	.hero {height: 80vh;}
	.hero-title {font-size: 10vw; margin-top: 50vh; margin-bottom: auto; letter-spacing: .1rem;}
	.MainNav, .MainNav2 {display: none;}
	.nav-menu {display: flex;}
	.socialMedia{display: none;}
	#navbar {height: 40vh;}
	.info1, .info2 {flex-direction: column; align-content: center; flex: none; max-height: none;}
	.text, .text2 {align-items: center; justify-content: space-between; margin: 2vw;}
	.text h1, .text h2 {text-align: center;}
	.info1 img, .info2 img{align-self: center; width: 90%; height: auto;	max-height: none;}
	.footer {flex: 1; margin-top: 2rem;}
}

@media (max-width: 375px) {
	.side-socialMedia{margin-left: 25%;}
}

@media (max-width:360px){
	.info2 img {max-width: calc(90% - 1vw);}
}

@media (max-width: 320px) {
	.side-nav a{font-size: 1.7rem;}
	.hero-title {font-size: 5vh; line-height: 7vh;}
	.text h2, .text2 h2 {font-size: 2.5vh; line-height: 4vh;}
	.info1 img, .info2 img {max-width: 95%;}
}
