@charset "utf-8";
/* CSS Document */

html {
	scroll-behavior: smooth;
	height: -webkit-fill-available;
  }

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #fffff0;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}
 
.OSC {
   font-family: 'Open Sans Condensed', sans-serif;
}

#navbar {
  background-color: rgba(0,0,0,0);
  overflow: hidden;
  height: 40vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
  background-opacity:0;
  display: flex;
  margin: .5rem;
  align-items: flex-start;
}

.navLogo {
  display: flex;
  flex:3;
  order: 1;
  justify-content: flex-start;
  align-content: flex-start;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.MainNav {
	display: flex;
	flex-direction: row;
	flex: 1;
	order:2;
	justify-content: flex-end;
	/* height: 4vh; */
	margin-right: 1vw;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.MainNav a {
	flex: 1;
	align-self: flex-end;
	letter-spacing: .05rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: #fffff0;
}

.MainNav a:hover, .MainNav2 a:hover {
	color: tomato;
}

.MainNav2 {
	display: flex;
	flex-direction: row;
	flex: 1;
	order:2;
	justify-content: flex-end;
	/* height: 4vh; */
	margin-right: 1vw;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.MainNav2 a {
	flex: 1;
	align-self: flex-end;
	letter-spacing: .05rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: #262626;
}

.iniLogo {
  height: 3rem;
  margin-left: 1vw;
  fill: #fffff0;
  align-self: flex-start;
	
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.iniLogo:hover, .iniLogo2:hover {
	fill: tomato;
}

.iniLogo2 {
  fill: rgb(38,38,38);
  margin-left: 1vw;
  height: 3rem;
  align-self: center;

  -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.nav-menu {
  display: none;
  flex: 1;
  order: 2;
  justify-content:flex-end;
  align-items:center;
}

.lines {
  display: flex;
  margin-right: 4vw;
  width: 2rem;
  height: 2rem;
  align-self: center;
  fill: rgb(255,255,255);
  stroke: none;
	
  -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

.lines2 {
  display: flex;
  margin-right: 1vw;
  width: 2rem;
  height: 2rem;
  align-self: center;
  fill: rgb(38,38,38);
  stroke: none;

  -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .content {
    padding-top: 60px;
  }

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0;
    background-color: rgb(38,38,38);
    opacity: 0.98;
    overflow-x: hidden;
    padding-top: 60px;
    transition:0.5s;
}

.side-nav a{
    padding: 1vh;
    text-decoration: none;
    font-size: 2rem;
    color: #fffff0;
    display: block;
	transition: 0.3s;
}

.side-nav a:last-of-type{
	margin-bottom: 4vh;
}

.inactiveLink {
	pointer-events: none;
	cursor: default;
 }

.side-nav .btn-close{
    position: absolute;
    top:0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav hr{ 
   display: block;
   margin-top: 1.2vh;
   margin-bottom: 2.3vh;
   margin-left: 1vh;
   margin-right: 2vh;
   border-style: inset;
   border-width: 1px;
}  

.hero {
	position: relative;
	width: 100vw;
	min-height: 400px;
	height: 65vh;
	-webkit-box-flex: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url("../images/green-leafed-trees-during-fog-time-167684.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: auto, cover;
	background-position: center center;
	filter: brightness(80%);
	border-bottom: 1rem solid rgba(38, 38, 38, 1);
}

.hero-content {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #fffff0;
	text-align: center;
	margin: 0.625rem;
	justify-content: space-between;
}

.hero-title {
	flex: 1;
	order: 1;
	font-size: 6vh;
	font-weight: 600;
	margin-top: 20vh;
	margin-bottom: 20vh;
	text-transform: uppercase;
	text-shadow: -2px 3px 3px rgba(38,38,38,0.60);
	letter-spacing: .3vw;
	line-height: 7vh;
}

.socialMedia {
	display: flex;
	flex:1;
	order: 2;
	flex-direction: row;
	margin-top: 2vh;
	justify-content: space-around;
	align-content: center;
}

.socialMedia svg {
	flex: 1;
	height: 2rem;
	width: 2rem;
	fill: #fffff0;
}

.socialMedia svg:hover {
	fill: tomato;
}

.side-socialMedia {
	display: flex;
	flex:1;
	order: 2;
	flex-direction: column;
	margin-top: 2vh;
	margin-left: 22vw;
	justify-content: space-around;
	align-content: center;
}

.side-socialMedia svg {
	flex: 1;
	height: 2rem;
	width: 2rem;
	margin-bottom: 2rem;
	fill: #fffff0;
}

.main-section {
	padding-top: env(70vh);
	display: flex;
	justify-content: center;
}

.sidebar1 {
	display: flex;
	flex-shrink: 3;
	order: 1;
	flex: .5;
}

.sidebar2 {
	display: flex;
	flex-shrink: 3;
	order: 3;
	flex: .5;
}

.main {
	max-width: 1500px;
	margin-top: 2rem;
	display: flex;
	order: 1;
	flex: 4;
	flex-direction: column;
}

.info1 {
	display: flex;
	order: 2;
	flex: 1;
	justify-content: center;
	align-content: center;
	margin-top: 2rem;
	margin-bottom: 4vw;
}

.info1 img{
	order: 2;
	max-height: 50vh;
	min-height: 25rem;
	max-width: auto;
	border: solid thick rgb(38,38,38);
}

.info2 {
	display: flex;
	flex-direction: row-reverse;
	order: 3;
	flex: 1;
	justify-content: center;
	align-content: center; 
}

.info2 img{
	order: 2;
	justify-self: flex-start;
	height: auto;
	max-width: 50vh;
	min-width: 20rem;
	border: solid thick rgb(38,38,38);
}

.spacer {
	display: flex;
	flex: .2;
	order: 3;
	flex-shrink: 3;
}

.text {
	display: flex;
	flex-direction:column; 
	order: 1;
	flex: 2;
	justify-content: center;
	text-align: right;
	margin-right: 2vw;
	margin-left: 10vw;
}

.text h1{
	font-size: calc(3rem + 1vh);
	color: rgb(38,38,38);
	margin-bottom: 1vw;
}

.text h2{
	font-size: calc(1rem + 1vh);
	color: rgb(38,38,38);
	margin-bottom: 1vw;
	line-height: calc(1rem + 1.5vh);
}

.text2 {
	display: flex;
	flex-direction:column; 
	order: 1;
	flex: 2;
	justify-content: center;
	text-align: left;
	margin-left: 2vw;
}

.text2 h1{
	font-size: calc(3rem + 1vh);
	color: rgb(38,38,38);
	margin-bottom: 1vw;
}

.text2 h2{
	font-size: calc(1rem + 1vh);
	color: rgb(38,38,38);
	margin-bottom: 1vw;
	line-height: 2.5vh;
}

.footer {
	display: flex;
	flex-direction: column;
	flex: 1;
	order: 4;
	margin-top: 1rem;
}

.botLogo {
	align-self: flex-end;
  	height: 1.4rem;
  	fill: rgb(38,38,38);
}

.trade {
	align-self: flex-end;
}

@media (max-width: 1920px) {
	.spacer{flex: .4;}
}

@media (max-width: 1366px) {
	.MainNav a, .MainNav2 a{font-size: calc(1.5rem - .2vw);}
	.spacer{flex: .6;}
	.sidebar1, .sidebar2 {flex: .2;}
	.text h1, .text2 h1{font-size: calc(2rem + 1vh);}
	.text h2, .text2 h2{font-size: calc(1rem + .5vh); line-height: calc(1rem + .75vh);}
	.text h2 {margin-left: 5vw;}
}

@media (max-width: 1024px) {
	.navLogo{flex: 1;}
	.MainNav, .MainNav2 {flex-direction: column;}
	.MainNav a, .MainNav2 a{margin-bottom: 2rem; margin-right: 1.2rem; font-size: 1.2rem;}
	.text h1, .text2 h1{font-size: 2rem;}
	.info2 img {margin-left:10%}
	.spacer{flex: .2;}
}

@media (max-width: 800px) {
	#navbar{position: absolute;}
	.info2 img{max-width: calc(100% - 35vw)}
	.text{margin-left: 0;}
}

@media (max-width: 425px) {
	.iniLogo, .iniLogo2 {height: 2.2rem;}
	.MainNav, .MainNav2 {display: none;}
	.nav-menu {display: flex;}
	.spacer {display: none;}
	.socialMedia{display: none;}
	.hero-title{font-size: calc(5vh - 1vw); line-height: 7vh;}
	.info1 {flex-direction: column; justify-content: center;}
	.text, .text2{text-align: center; margin-bottom: 2rem; margin-left: none; margin-right: none;}
	.text h1, .text2 h1 {font-size: 5vh; margin-bottom: 2rem;}
	.info1 img {align-self: center; margin-bottom: 3rem; max-width: calc(100% - 1vw)}
	.info2 {flex-direction: column; justify-content: center;}
	.info2 img {align-self: center; margin-bottom: 3rem; margin-left: 0rem; max-width: calc(100% - 1vw)}
	.text h2, .text2 h2 {font-size: 3vh; line-height: 4vh; margin-bottom: 2vh;}
}

@media (max-width: 375px) {
	.side-socialMedia{margin-left: 20vw;}
}

@media (max-width:360px){
	.info2 img {max-width: calc(90% - 1vw);}
}

@media (max-width: 320px) {
	.side-nav a{font-size: 1.7rem;}
	.hero-title {font-size: 5vh; line-height: 7vh;}
	.text h2, .text2 h2 {font-size: 2.5vh; line-height: 4vh;}
	.info1 img, .info2 img {max-width: 95%;}
}