@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}
 
.OSC {
   font-family: 'Open Sans Condensed', sans-serif;
}

.loose {
	letter-spacing: .2rem;
}

.bigly {
	font-size: 6rem;
}

#BoneWhite {
	color: #fffff0;
}

.websafe{
	display: -webkit-box;
	display: -webkit-flex;    
	display: -moz-box;
    display: -ms-flexbox;
}

.body {
	display: flex;
	background-color: #fffff0;
}

.sidebar-left {
	display:flex;
	order:1;
	flex-shrink: 2;
	flex:1;
}

.main {
	display: flex;
	flex-shrink: 1;
	order: 2;
	flex:8;
	max-width: 1920px;
	flex-direction: column;
	background-color: #FFFFF0;
}

.sidebar-right {
	display: flex;
	order: 3;
	flex-shrink: 2;
	flex:1;
}

.header {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 31rem;
	max-height: 31rem;
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url(assets/mtn-frst-fog_1920-500.jpg) repeat 0 0;
	border: 1rem solid rgba(38, 38, 38, 1);
	background-repeat: no-repeat;
}

.toplog {
	order: 1;
	display: flex;
	justify-content: space-between;
}

.inilogo {
	height: 80px; /*this is for Firefox */
	order: 1;
	margin-left: 1rem;
	margin-top: 1rem;
  	height: 4rem;
  	fill: #fffff0;
  	align-self: flex-start;
	z-index: 1;
} 

.lines{
	display: none;
	order: 2;
	height: 100px; /*for firefox */
	height: 3rem;
	width: 3rem;
	align-self: flex-start;
	stroke: #fffff0;
	z-index: 1;
	margin-top: 0.5rem;
}

.side-nav{
    height: 20rem;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0;
    background-color: rgba(82,99,74,0.98);
    opacity: 1;
    overflow-x: hidden;
    padding-top: 2rem;
    transition:0.5s;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.side-nav a{
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fffff0;
    display: flex;
    transition: 0.3s;
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right: 22px;
    font-size: 2rem;
    margin-left: 50px;
}

.head-space {
	flex: 2;
	order: 2;
}

.head-space h1 {
	display: none;
	justify-content: center;
	color: #fffff0;
	text-shadow: -2px 3px 3px rgba(38,38,38,0.60);
	flex: 1;
	text-align: center;
	align-self: flex-end;
	z-index:1;
}

.headTitle {
	display: flex;
	flex: 2;
	order: 3;
	justify-content: space-between;
}

.socialMedia {
	display: flex;
	flex: 1;
	order: 1;
	align-items: flex-start;
	flex-direction: column;
}

.socialspacer{
	flex:2;
}

.social {
	display: flex;
	flex: .5;
	align-items: flex-end;
	margin-bottom: 1rem;
}

.social img {
	display: flex;
	height: 1.5rem;
	margin-left: 1rem;
 	width: 1.5rem;
}

.headTitle h1 {
	display: flex;
	justify-content: flex-end;
	color: #fffff0;
	text-shadow: -2px 3px 3px rgba(38,38,38,0.60);
	flex: 4;
	order: 2;
	text-align: right;
	margin-right: 1rem;
	align-self: flex-end;
	z-index:1;
}

.mainMenu {
	display: flex;
	order:2;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	background-color: rgba(82,99,74,1.00);
}

.mainMenu li {
	display: flex;
	margin-top: .4rem;
	margin-bottom: .4rem;
	display: flex;
	letter-spacing: .05rem;
	font-size: 1.6rem;
	color: #FFFFF0;
}

.info {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	flex: 4;
	order: 3;
	justify-content: center;
	border-right: thin solid rgba(38,38,38,1);
}

.info_pt1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	order:1;
	justify-content: flex-start;
	margin-bottom: 7rem;
	margin-top: 7rem;
}

.info_pt1_a {
	order: 1;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-self: center;
	justify-content: flex-start;
	margin-right: 2rem;
	text-align: right;
}

.info_pt1_a h1 {
	letter-spacing: 0.1rem;
	color: rgba(38,38,38,1.00);
}

.info_pt1_a h2 {
	font-style: italic;
	color: rgba(127,127,127,1.00);
}

.info_pt1_b {
	order: 2;
	display: flex;
	flex: 3;
	max-width: 1000px;
	align-self: center;
	margin-left: 1rem;
	margin-right: 1rem;
	border: .2rem solid rgba(38, 38, 38, 1);
	/* box-shadow: -2px 3px 3px rgba(38,38,38,0.60); */
}

.info_pt2 {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	order: 2;
	justify-content: flex-start;
	margin-bottom: 7rem;
	margin-top: 7rem;
}

.info_pt2_a {
	order: 2;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: flex-start;
	margin-left: 2rem;
	text-align: left;
}

.info_pt2_a h1 {
	letter-spacing: 0.1rem;
	color: rgba(38,38,38,1.00);
}

.info_pt2_a h2 {
	font-style: italic;
	color: rgba(127,127,127,1.00);
}
.info_pt2_b {
	order: 1;
	display: flex;
	flex: 2;
	max-width: 1000px;
	align-self: center;
	margin-left: 1rem;
	margin-right: 1rem;
	border: .2rem solid rgba(38, 38, 38, 1);
	/* box-shadow: -2px 3px 3px rgba(38,38,38,0.60); */
}

.info_pt3 {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	order: 3;
	justify-content: flex-start;
	margin-bottom: 7rem;
	margin-top: 7rem;
}

.info_pt3_a {
	order: 1;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-self: center;
	justify-content: flex-start;
	margin-left: 2rem;
	text-align: right;
}

.info_pt3_a h1 {
	letter-spacing: 0.1rem;
	color: rgba(38,38,38,1.00);
}

.info_pt3_a h2 {
	font-style: italic;
	color: rgba(127,127,127,1.00);
}
.info_pt3_b {
	order: 2;
	display: flex;
	flex: 2;
	max-width: 1000px;
	align-self: center;
	margin-left: 1rem;
	margin-right: 1rem;
	border: .2rem solid rgba(38, 38, 38, 1);
	/* box-shadow: -2px 3px 3px rgba(38,38,38,0.60); */
}

.footer {
	display: flex;
	flex:1;
	order:4;
	margin-bottom: 1rem;
}

.spacer {
	flex: 1;
	order: 1;
	height: 2.4rem;
}

.botLogo {
	flex:1;
	order: 2;
	justify-content: center;
  	height: 2.4rem;
  	fill: rgb(38,38,38);
} 

.trade {
	align-content: center;
	flex: 1;
	order: 3;
	justify-content: flex-end;
	height: 2.4rem;
	color: rgba(38,38,38,1.00);
	margin-right: 2rem;
}

/* @media (max-width: 2200px){
	.bigly{font-size: 8rem;}
} */

@media (max-width: 1920px){
	.main{flex-grow: 8;}
	.sidebar-left{flex-shrink: 4;}
	.sidebar-right{flex-shrink: 4;}
}

@media (max-width: 1300px){
	.sidebar-left{display:none;}
	.sidebar-right{display:none;}
}

@media (max-width: 1024px){
	.bigly{font-size: 3.5rem;}
	.info_pt1_b{max-width: 500px; max-height: 500px;}
	.info_pt2_b{max-width: 500px; max-height: 500px;}
	.info_pt3_b{max-width: 500px; max-height: 500px;}
}

@media (max-width: 800px){
	.bigly{font-size: 3rem;}
	.info_pt1{margin-top: 3rem; margin-bottom: 3rem;}
	.info_pt1_a{margin-right: 0rem;}
	.info_pt1_b{max-width: 400px; max-height: 400px;}
	.info_pt2{margin-top: 3rem; margin-bottom: 3rem;}
	.info_pt2_a{margin-left: 0rem;}
	.info_pt2_b{max-width: 400px; max-height: 400px;}
	.info_pt3{margin-top: 3rem; margin-bottom: 4rem;}
	.info_pt3_a{margin-right: 0rem;}
	.info_pt3_b{max-width: 400px; max-height: 400px;}
}

@media (max-width: 700px){
	.bigly{font-size: 2.8rem;}
	.info_pt1{flex-direction: column; justify-content: space-between; align-items: center; margin-top: 2.5rem; margin-bottom: 2.5rem;}
	.info_pt1_a{margin-bottom: 1rem; text-align: center; margin-left: 0rem;}
	.info_pt2{flex-direction: column-reverse; justify-content: space-between; margin-top: 2.5rem; margin-bottom: 2.5rem;}
	.info_pt2_a{margin-bottom: 1rem; margin-left: 0rem; text-align: center;}
	.info_pt3{flex-direction: column; justify-content: space-between; margin-top: 2.5rem; margin-bottom: 3rem;}
	.info_pt3_a{margin-bottom: 1rem; text-align: center;}
}

@media (max-width: 600px){
	.bigly{font-size: 2.5rem;}
	.mainMenu{justify-content: space-between;}
	.mainMenu li{font-size: 1.2rem;}
	.info_pt1{margin-top: 1rem; margin-bottom: 1rem;}
	.info_pt1_a{margin-bottom: 0.5rem;}
	.info_pt2{margin-top: 1rem; margin-bottom: 1rem;}
	.info_pt2_a{margin-bottom: 0.5rem;}
	.info_pt3{margin-top: 1rem; margin-bottom: 2rem;}
	.info_pt3_a{margin-bottom: 0.5rem;}
}


@media (max-width: 540px){
	.bigly{font-size: 2.2rem;}
	.header h1{margin-bottom: 0.75rem; margin-right: 0.5rem;}
	.lines {display: flex;}
	.mainMenu li{display: none;}
}

@media (max-width: 375px){
	.info_pt1_b{max-width: 300px; max-height: 300px;}
	.info_pt2_b{max-width: 300px; max-height: 300px;}
	.info_pt3_b{max-width: 300px; max-height: 300px;}
	.bigly{font-size: 2rem;}
	.head-space{flex: 2;}
	.head-space h1{display: flex;}
	.headTitle h1{display: none;}
	.socialMedia{flex-direction:row;}
	.socialspacer{display: none;}
	.social{flex: 1; justify-content: center; align-self: flex-end;}
}

